.result-panel {
  border: 1px solid #ced4da;
  border-radius: 0.25rem !important;
  background-color: #1c2833;
  color: #4fdee5;
  padding: 10px;
}

.text-result {
  word-break: break-all;
  white-space: pre-wrap;
  font-size: 12px;
  background-color: #333d47;
}

.text-area {
  word-break: break-all;
  white-space: pre-wrap;
}

.result-btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border: none;
}
.result-btn-sm:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.code {
  background: #1c2833;
}

.wrap {
  display: inline-block;
}

.alert-icon {
  font-size: 20px;
}

#alert-component {
  position: fixed;
  top: 0;
  left: 7.5%;
  width: 85%;
  z-index: 50;
  display: none;
}
#alert-msg {
  margin: 0 auto;
}
