body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.navbar-cryptools {
  background: var(--ct-blue);
  color: #fff;
}

/* FOOTER */
.footer-cryptools {
  background: var(--ct-blue);
}

.author-panel {
  background-color: rgba(0, 0, 0, 0.2);
}

/* GENERAL */
.accordion-item {
  background-color: var(--ct-blue-super-light);
}

.accordion-button:not(.collapsed) {
  color: var(--ct-blue-variant);
  background-color: var(--ct-blue-light);
}

.btn-primary,
.form-check-input:checked {
  color: #fff;
  background-color: var(--ct-blue);
  border-color: var(--ct-blue);
}

.btn-primary:hover {
  background-color: var(--ct-blue-hover);
  border-color: var(--ct-blue-hover);
}

.btn-primary:disabled,
.btn-primary.disabled,
.btn-primary:focus {
  color: #fff;
  background-color: var(--ct-blue-variant);
  border-color: var(--ct-blue-variant);
}

.btn-outline-ct {
  color: var(--ct-blue);
  border-color: var(--ct-blue);
}
.btn-outline-ct:hover {
  color: #fff;
  background-color: var(--ct-blue);
  border-color: var(--ct-blue);
}

.bs-tooltip-top .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^='top'] .tooltip-arrow::before {
  border-top-color: var(--ct-blue-hover);
}
.bs-tooltip-end .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^='right'] .tooltip-arrow::before {
  border-right-color: var(--ct-blue-hover);
}
.bs-tooltip-bottom .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^='bottom'] .tooltip-arrow::before {
  border-bottom-color: var(--ct-blue-hover);
}
.bs-tooltip-start .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^='left'] .tooltip-arrow::before {
  border-left-color: var(--ct-blue-hover);
}
.tooltip-inner {
  color: #fff;
  background-color: var(--ct-blue-hover);
}
