body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.navbar-cryptools {
  background: #003370;
}

/* FOOTER */
.footer-cryptools {
  background: #003370;
}

.author-panel {
  background-color: rgba(0, 0, 0, 0.2);
}

/* GENERAL */
.accordion-item {
  background-color: #add0fb;
}

.btn-primary,
.form-check-input:checked {
  color: #fff;
  background-color: #003370;
  border-color: #003370;
}

.btn-primary:hover {
  background-color: #002451;
  border-color: #002451;
}
