:root {
  --ct-blue-super-light: #eef6ff;
  --ct-blue-light: #add0fb;
  --ct-blue-light-variant: #5d89c0;
  --ct-blue: #003370;
  --ct-blue-variant: #002653;
  --ct-blue-hover: #002451;
  --ct-error: #ff4545;
  --ct-error-light: #ff7171;
  --ct-error-dark: #580000;
  --ct-success: #45ffa7;
  --ct-success-dark: #0b5800;
}
