<div class="accordion-item">
  <h2 class="accordion-header" id="headingDeleterAccordion">
    <button
      class="accordion-button collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseDeleterAccordion"
      aria-expanded="false"
      aria-controls="collapseDeleterAccordion"
    >
      <h5>Deleter</h5>
    </button>
  </h2>
  <div
    id="collapseDeleterAccordion"
    class="accordion-collapse collapse"
    aria-labelledby="headingDeleterAccordion"
    data-bs-parent="#general-accordion"
  >
    <div class="accordion-body">
      <div id="deleter-word-panel-id" class="col-md-5 col-md-4 col-xl-3">
        <label for="deleter-word-id">
          <strong>¿Qué palabra o carácter quieres eliminar?</strong>
        </label>
        <input type="input" class="form-control" id="deleter-word-id" />
      </div>

      <div id="deleter-text-panel-id" class="col-md-8 col-md-8 col-xl-9">
        <label for="deleter-text-id">
          <strong>¿En qué texto?</strong>
        </label>
        <textarea class="form-control" id="deleter-text-id" rows="5"></textarea>
      </div>
      <div id="deleter-result-panel-id" class="col-md-8 col-md-8 col-xl-12">
        <label for="deleter-result-id">
          <strong>Resultado: </strong>
        </label>
        <div>
          <code class="deleter-result-class" id="deleter-result-id"> </code>
        </div>
      </div>
    </div>
  </div>
</div>
