<div class="accordion-item">
  <h2 class="accordion-header" id="headingDictbuilderAccordion">
    <button
      class="accordion-button collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseDictbuilderAccordion"
      aria-expanded="false"
      aria-controls="collapseDictbuilderAccordion"
    >
      <h5>Dictionary builder</h5>
    </button>
  </h2>
  <div
    id="collapseDictbuilderAccordion"
    class="accordion-collapse collapse"
    aria-labelledby="headingDictbuilderAccordion"
    data-bs-parent="#general-accordion"
  >
    <div class="accordion-body">
      <div id="separator-word-panel-id" class="col-md-6 col-md-6 col-xl-6">
        <label for="separator-word-id">
          <strong>¿Que separador quieres usar?</strong>
        </label>
        <div class="row" id="separator-word-id">
          <div class="col col-md-4 col-md-4 col-xl-4">
            <select id="separator-list" class="form-select dict-builder change">
              <option value="">Caracter a caracter</option>
              <option value=" ">Espacio ( &nbsp; )</option>
              <option value=".">Punto ( . )</option>
              <option value=":">Coma ( , )</option>
              <option value=":">Dos puntos ( : )</option>
              <option value="*">Asterisco ( * )</option>
              <option value="customOption">Personalizado...</option>
            </select>
          </div>
          <div class="col col-md-4 col-md-4 col-xl-4">
            <input
              type="input"
              id="separator-custom"
              class="form-control d-none dict-builder keyup"
              placeholder="Personalizado"
            />
          </div>
        </div>
      </div>

      <div id="dictbuilder-list-panel-id">
        <label for="dictbuilder-list-id">
          <strong>¿Qué texto vas a usar para crear el diccionario?</strong>
        </label>
        <textarea
          class="form-control dict-builder keyup"
          id="dictbuilder-list-id"
          rows="5"
        ></textarea>
      </div>
      <div id="dictbuilder-result-panel-id">
        <label for="dictbuilder-result-id">
          <strong>Resultado: </strong>
        </label>
        <button
          id="redo-dictbuilder-button"
          type="button"
          class="btn btn-outline-dark json-btn-sm dict-builder click"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Rehacer diccionario"
          disabled
        >
          <i class="bi bi-arrow-repeat"></i>
        </button>
        <div
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Abrir en ventana"
          class="wrap"
        >
          <button
            id="open-modal-button"
            type="button"
            class="btn btn-outline-dark json-btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#dictbuilder-json-result-modal"
            disabled
          >
            <i class="bi bi-box-arrow-up-right"></i>
          </button>
        </div>
        <button
          id="copy-dictbuilder-button"
          type="button"
          class="btn btn-outline-dark json-btn-sm copy-dict click"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Copiar diccionario al cortapapeles"
          disabled
        >
          <i class="bi bi-files"></i>
        </button>
        <button
          id="download-dictbuilder-button"
          type="button"
          class="btn btn-outline-dark json-btn-sm download-dict click"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Descargar diccionario"
          disabled
        >
          <i class="bi bi-download"></i>
        </button>
        <div>
          <code class="dictbuilder-result-class" id="dictbuilder-result-id">
          </code>
          <textarea id="dictbuilder-textarea-result-id" hidden></textarea>
          <a
            style="display: none"
            id="result-download-link"
            href="#"
            download="result.json"
            ><button id="result-download-button"></button>
          </a>
        </div>

        <!-- Modal -->
        <div
          class="modal"
          id="dictbuilder-json-result-modal"
          tabindex="-1"
          aria-labelledby="dictbuilder-json-result-modal-label"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5
                  class="modal-title"
                  id="dictbuilder-json-result-modal-label"
                >
                  Resultado
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body code">
                <pre class="code" id="json-modal-content"></pre>
              </div>
              <div class="modal-footer">
                <button
                  id="copy-dictbuilder-modal-button"
                  type="button"
                  class="btn btn-primary copy-dict click"
                >
                  Copiar al cortapapeles &nbsp;<i class="bi bi-files"></i>
                </button>
                <button
                  id="download-dictbuilder-modal-button"
                  type="button"
                  class="btn btn-primary download-dict click"
                >
                  Descargar &nbsp;<i class="bi bi-box-arrow-up-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
