<footer>
  <?php include ROOT_COMPONENTS_MODALS_PATH.'/donation.html'?>
  <?php include ROOT_COMPONENTS_MODALS_PATH.'/contact.html'?>
  <nav class="text-center text-white footer-cryptools">
    <div class="container">
      <ul class="icon-links list-unstyled d-flex justify-content-center m-0">
        <li>
          <a
            class="btn btn-link btn-lg text-light"
            href="https://www.linkedin.com/in/davbolan/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="bi bi-linkedin fs-1"></i>
          </a>
        </li>
        <li>
          <a
            class="btn btn-link btn-lg text-light"
            href="https://github.com/davbolan/cryptools"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="bi bi-github fs-1"></i>
          </a>
        </li>
        <li>
          <span
            class="btn btn-link btn-lg text-light"
            id="open-contact-modal-button"
            data-bs-toggle="modal"
            data-bs-target="#contact-modal"
          >
            <i class="bi bi-envelope fs-1"></i>
          </span>
        </li>
        <li>
          <span
            class="btn btn-link btn-lg text-light"
            id="open-crypto-info-modal-button"
            data-bs-toggle="modal"
            data-bs-target="#crypto-info-modal"
          >
            <i class="bi bi-gift fs-1"></i>
          </span>
        </li>
      </ul>
    </div>

    <div class="container-fluid text-light p-3 author-panel">
      <div class="row">
        <div class="offset-4 col-4 px-0">
          <div class="d-inline-block">
            <img
              src="/assets/logo.png"
              width="45"
              class="me-md-2 mb-md-4"
              alt="logo"
            />
          </div>
          <div class="d-inline-block">
            <ul class="list-unstyled">
              <li>
                <a
                  id="web-link"
                  class="text-light ml-5"
                  href="<?php echo WEB_URL ?>"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <?php echo WEB_HOST ?>
                </a>
              </li>
              <li>Created by: <strong>davbolan</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</footer>
