<footer class="text-center text-white footer-cryptools">
  <div class="container pt-4">
    <section class="mb-4">
      <a
        class="btn btn-link btn-lg text-light m-1 fs-2"
        href="https://www.linkedin.com/in/davbolan/"
        target="_blank"
        ><i class="bi bi-linkedin"></i>
      </a>

      <a
        class="btn btn-link btn-lg text-light m-1 fs-2"
        href="https://github.com/davbolan/cryptools"
        target="_blank"
        ><i class="bi bi-github"></i
      ></a>
    </section>
  </div>

  <div class="text-center text-light p-3 author-panel">
    <div class="d-inline-block">
      <img src="../assets/logo.png" width="45" class="me-2 mb-4" />
    </div>
    <div class="d-inline-block">
      <span class="d-block"
        ><a id="web-link" class="text-light ml-5" href="#"
          >cryptools.com</a
        ></span
      >
      <span class="d-block">Created by: <strong>davbolan</strong></span>
    </div>
  </div>
</footer>
