<footer class="ct-footer">
  <nav class="text-center text-white footer-cryptools">
    <div class="container">
      <ul class="icon-links list-unstyled d-flex justify-content-center m-0">
        <li>
          <a
            class="btn btn-link btn-lg text-light"
            href="https://www.linkedin.com/in/davbolan/"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="bi bi-linkedin fs-1"></i>
          </a>
        </li>
        <li>
          <a
            class="btn btn-link btn-lg text-light"
            href="https://github.com/davbolan/cryptools"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="bi bi-github fs-1"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="container-fluid text-light p-3 author-panel">
      <div class="row">
        <div class="offset-4 col-4 px-0">
          <div class="d-inline-block">
            <img
              src="/assets/logo.png"
              width="45"
              class="me-md-2 mb-md-4"
              alt="logo"
            />
          </div>
          <div class="d-inline-block">
            <ul class="list-unstyled">
              <li>Offline mode</li>
              <li>Created by: <strong>davbolan</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</footer>
