<header>
  <nav class="navbar navbar-expand-lg navbar-cryptools">
    <div class="container align-items-end g-0">
      <a class="navbar-brand align-items-center text-decoration-none" href="#">
        <img height="75" src="/assets/logo.png" alt="Cryptools" />
        <span class="navbar-title h2">Cryptools</span>
      </a>
    </div>
  </nav>
  <div class="dropdown d-flex flex-row-reverse">
    <span
      class="btn dropdown-toggle lang-selector"
      id="dropdownLanguage"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <?php echo $i18n["LANGUAGE"] ?>
    </span>

    <ul
      class="dropdown-menu dropdown-lang-menu"
      aria-labelledby="dropdownLanguage"
    >
      <li>
        <a class="dropdown-item" href="/es"><samp>ES</samp> - Español</a>
      </li>
      <li>
        <a class="dropdown-item" href="/en"><samp>EN</samp> - English</a>
      </li>
    </ul>
  </div>
</header>
