<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Email de %NAME%</title>
  </head>
  <style>
    html {
      font-family: Arial, Helvetica, sans-serif;
    }
    li {
      margin: 10px 0 10px 0;
    }
  </style>
  <body>
    <div>
      <p><strong>Datos de la persona: </strong></p>
      <ul style="list-style-type: none">
        <li><strong>Nombre:</strong> %NAME%</li>
        <li><strong>Email:</strong> %EMAIL%</li>
        <li><strong>Mensaje:</strong></li>
      </ul>
      <p>%MESSAGE%</p>
    </div>
  </body>
</html>
