<div class="col-sm-3 col-4 my-2" title="%NAME%">
  <div
    class="border rounded p-1 coin-cell"
    data-shortname="%SHORTNAME%"
    data-name="%NAME%"
    data-address="%ADDRESS%"
  >
    <p class="coin-name text-center">%NAME%</p>
    <div class="mx-1 d-inline">
      <img
        src="/assets/icons/crypto-currency/%SHORTNAME%.svg"
        class="rounded justify-content-center"
        alt="%NAME%"
        height="28"
      />
    </div>
    <span class="coin-acronym">%SHORTNAME%</span>
  </div>
</div>
